In [2]:
marks = {"Andy":88, "Amy":66, "James": 90, "Jules": 55, "Arthur": 77}

In [3]:
for names, grades in marks.items():
    print(names, grades)

Andy 88
Amy 66
James 90
Jules 55
Arthur 77

In [20]:
total = 0
count = []
for grades in marks.values():
    total += grades
    count += [grades]
print("mean grade is",total/len(count))  
print("maximal grade is",max(count))  
print("minimal grade is",min(count))

mean is 75.2
max is 90
min is 55

In [21]:
for i in marks.keys():
    if "J" in i:
        break
    print(i)

Andy
Amy

In [22]:
for i in marks.keys():
    if "J" in i:
        continue
    print(i)

Andy
Amy
Arthur

In [38]:
def find_grade(name):
    for names,grades in marks.items():
        if name == names:
            return grades 
    else:
        print("Cannot find the student's name")

find_grade("Amy")

66

In [56]:
def less_than(num):
    n = 0
    while n <= num:
        print(n, num ** n)
        n += 1
    else:
        print("greater than", num)

less_than(8)

0 1
1 8
2 64
3 512
4 4096
5 32768
6 262144
7 2097152
8 16777216
greater than 8

In [51]:
def sumfunction(num):
    n = 1
    sum = 0
    while n <= num:
        sum += n
        n += 1
    return sum

sumfunction(10)

55

In [55]:
def range_sum(num):
    sum = 0
    for n in range(num+1):
        sum += n
        print(sum)

range_sum(10)

0
1
3
6
10
15
21
28
36
45
55

In [66]:
def minimum(v1,v2,v3,v4):
    min_value = v1
    if v2 < min_value:
        min_value = v2
    if v3 < min_value:
        min_value = v3
    if v4 < min_value:
        min_value = v4
    return min_value

minimum(4,20,78,9)

4